<h1>Infection by Economic Status</h1>
<form method="POST">
    <label>Status:</label>
    <input name="econ">

    <label>Infection:</label>
    <input name="infection">

    <label>Year:</label>
    <input name="year">

    <button type="submit">Search</button>
</form>

{% if data %}
<table border="1">
    <tr>
      <th>Country</th><th>Type</th><th>Year</th><th>Cases</th><th>Deaths</th><th>Rate</th>
    </tr>
    {% for row in data %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      <td>{{ row[5] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
